<div class="d-flex flex-column bg-light" style="height: 100vh;">
  <h5 class="p-3 border-bottom">Menu</h5>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/inventory" routerLinkActive="active">Inventory</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/suppliers" routerLinkActive="active">Suppliers</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/users/profile" routerLinkActive="active">Profile</a>
    </li>
  </ul>
</div>
